#wrapper
{
	text-align: center;
}

#board
{
	display: inline-block;
	width: 450px;
	height: 450px;
	border-color: black;
	border-width: 5px;
	border-style: dotted;
}

#board .square
{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	width: 12.5%;
	height: 12.5%;
	vertical-align: top;
}

#board .square.black
{
	/* background-color: rgb(130, 130, 130); */
	background-color: darkgrey;
}

#board .square .piece
{
	display: inline-block;
	margin: 5%;
	height: 90%;
	width: 90%;
	border-radius: 50%;

	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
}

#board .square .piece.king::before
{
	color: white;
	vertical-align: -100%;
	content: "K";
}

#board .square .white-piece
{
	background: rgb(250, 0, 0);
	-webkit-box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
}

#board .square .black-piece
{
	background-color: rgba(25, 25, 150);
	-webkit-box-shadow: inset 1px 1px 8px 0px rgba(0,0,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 1px 1px 8px 0px rgba(0,0,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: inset 1px 1px 8px 0px rgba(0,0,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
}

#board .square .piece.white-piece .piece-center
{
	display: inline-block;
	margin: 10%;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	background: rgb(240, 0, 0);

	-webkit-box-shadow: inset 1px 1px 10px 5px rgb(250, 0, 0);
	-moz-box-shadow: inset 1px 1px 10px 5px rgb(250, 0, 0);
	box-shadow: inset 1px 1px 10px 5px rgb(250, 0, 0);
}

#board .square .piece.black-piece .piece-center
{
	display: inline-block;
	margin: 10%;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	background: rgba(20, 20, 145);

	-webkit-box-shadow: inset 1px 1px 10px 5px rgba(25, 25, 150);
	-moz-box-shadow: inset 1px 1px 10px 5px rgba(25, 25, 150);
	box-shadow: inset 1px 1px 10px 5px rgba(25, 25, 150);
}

#board .square.selected
{
	border: 3px solid blue;
	margin: -3px;
}

#board .square.destination
{
	border: 3px solid blue;
	margin: -3px;
}