#wrapper
{
	text-align: center;
}

#board
{
	display: inline-block;
	width: 450px;
	height: 450px;
	border-color: black;
	border-width: 5px;
	border-style: dotted;
}

#board .square
{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	width: 12.5%;
	height: 12.5%;
	vertical-align: top;
}

#board .square.black
{
	background-color: darkgrey;
}

#board .square .piece
{
	display: inline-block;
	margin: 5%;
	height: 90%;
	width: 90%;
	border-radius: 50%;

	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
}

#board .square .piece.man::before
{
	color: white;
	vertical-align: -100%;
	content: "M";
}

#board .square .piece.king::before
{
	color: white;
	vertical-align: -100%;
	content: "K";
}

#board .square .black-piece
{
	background-color: black;
}

#board .square .white-piece
{
	background: red;
	-webkit-box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: inset 1px 1px 8px 0px rgba(255,255,255,0.75), 1px 1px 6px 0px rgba(0,0,0,0.5);
}

#board .square.selected
{
	border: 3px solid blue;
	margin: -3px;
}

#board .square.destination
{
	border: 3px solid blue;
	margin: -3px;
}